h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none; /* Убираем маркеры списка */
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общие настройки контейнеров всех */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Общие стили логотипа */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.main-menu {
  display: flex;
  align-items: center;
}

/* Вторая часть логотипа */
.logo-secondary {
  color: #2e2f42; /* Цвет второй части логотипа */
}

/* Стили для меню */
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-list li:first-child .menu-link {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для текста в меню */
.menu-link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.menu-link::after {
  content: ""; /* 🔥 Добавлено */
  position: absolute; /* 🔥 Добавлено */
  width: 100%; /* 🔥 Добавлено */
  height: 4px; /* 🔥 Добавлено */
  background-color: #404bbf; /* 🔥 Добавлено */
  bottom: -1px; /* 🔥 Добавлено */
  left: 0; /* 🔥 Добавлено */
  border-radius: 2px; /* 🔥 Добавлено */
  opacity: 0; /* Скрываем изначально */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover::after,
.menu-link:focus::after {
  opacity: 1;
}

/* Список контактов */
.contact-list {
  list-style: none;
  font-style: normal;
  display: flex;
  gap: 40px;
}

/* Ссылки контактов */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Секция # 1 "Hero" */
.hero {
  padding: 188px 0;
  width: 100%;
  max-width: 1440px;
  min-height: 600px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    /* Затемнение */ url("../images/people-office.jpg"); /* Фоновое изображение */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: rgba(46, 47, 66, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.hero-title {
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.hero-button {
  display: block;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Секция # 2 "Advantages" */

.advantages {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-box {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px; /* Отступ между иконкой и заголовком */
  padding: 24px 100px;
}

.advantages-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.icon-advantages {
  fill: currentColor;
}

/* Заголовок секции */
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
  text-align: center;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

/* Список участников */
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

/* Карточка участника */
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px; /* Скругленные углы */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  min-width: 260px;
}

.team-photo {
  width: 100%;
  height: 260px;
  object-fit: cover; /* Чтобы фото не искажались */
  margin-bottom: 32px;
}

.team-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 32px 0; */
}

/* Имя участника */
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

/* Роль участника */
.team-role {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-container {
}

.team-social-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  margin-bottom: 32px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40px;
  height: 40px; */
  width: 100%;
  height: 100%;
  background-color: var(--primary-color, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #31d0aa;
}

.icon-social {
  fill: #f4f4fd;
  /* background-color: #4d5ae5; */
}

/* Анимация для иконок
.team-social-link {
  fill: #f4f4fd;
  transition: fill 250ms ease-in-out;
}  */

/* Секция # 4 "Портфолио" */
.portfolio {
  padding: 120px 0;
}

/* Заголовок секции */
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

/* Список карточек */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

/* Карточка */
.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; /* Тект над синим оверлеем */
  opacity: 0; /* Скрываем по умолчанию */
  background-color: #4d5ae5;
  transform: translateY(100%); /* Изначально скрываем ниже */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px 164px 32px;
  text-align: left;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Анимация появления overlay */
.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}

/* Контейнер для текста внутри карточки */
.portfolio-text {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Название продукта */
.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* Описание продукта */
.portfolio-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Контейнер Footer */
.footer {
  background: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  max-width: 1158px;
  padding: 0 156px;
  align-items: baseline;
  margin: 0 auto;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-secondary {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-box-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-box {
  display: flex;
  flex-direction: column;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}
